<div class="footer">
    <div class="container">
      <span>
        <a class="fa fa-github navbar-icon" target="_blank" href="https://github.com/rvillanueva"></a>
        <a class="fa fa-linkedin navbar-icon" target="_blank" href="https://linkedin.com/in/RyanjVillanueva"></a>
        <a class="fa fa-medium navbar-icon" target="_blank" href="https://medium.com/@ryanjvillanueva"></a>
        <a class="fa fa-envelope-o navbar-icon" target="_blank" href="mailto:ryanvill@gmail.com"></a>
      </span>
    </div>
</div>
