<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">Ryan Villanueva</a>
      </div>
      <span class="navbar-right">
        <a class="fa fa-github navbar-icon" target="_blank" href="https://github.com/rvillanueva"></a>
        <a class="fa fa-linkedin navbar-icon" target="_blank" href="https://linkedin.com/in/RyanjVillanueva"></a>
        <a class="fa fa-medium navbar-icon" target="_blank" href="https://medium.com/@ryanjvillanueva"></a>
        <a class="fa fa-envelope-o navbar-icon" target="_blank" href="mailto:ryanvill@gmail.com"></a>
      </span>
    </div>
  </div>
</div>
