<div ng-include="'../../components/navbar.html'"></div>
<div class="project-page">
  <div class="project-carousel-container">
    <div class="container container-unpadded">
      <div ng-if="project.p.carousel" class="project-carousel">
        <div ng-repeat="slide in project.p.carousel">
          <img ng-class="{'slide-invisible': !project.loaded && $index !== 0}" class="project-slide" ng-src="{{slide.url}}">
        </div>
      </div>
      <div ng-if="project.p.videoUrl">
        <iframe ng-src="{{project.trustSrc(project.p.videoUrl)}}" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="project-heading">
    <div class="container">
      <div class="row">
        <div class="project-title">
          {{project.p.name}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {{project.p.description}}
        </div>
        <div class="col-md-6">
          {{project.p.roleDescription}}
        </div>
      </div>
    </div>
  </div>
  <div class="other-projects">
    <div class="container">
      <div class="other-projects-heading">Showcase</div>
      <span ng-repeat="proj in project.projects">
      <a class="project-link" href="/#/projects/{{proj.id}}">{{proj.name}}</a>
    </span>
    </div>
  </div>
</div>
<div ng-include="'../../components/footer.html'"></div>
